%tr.send-out{id:"send-out-#{send_out.id}", class:"#{send_out.state}"}
    %td.date= l(send_out.created_at, :format => :nl)
    %td.newsletter-subject= send_out.newsletter.subject
    %td.state= send_out.state
