<% url    = @account.new_record? ? admin_accounts_path : admin_account_path(@account) %>
<% method = @account.new_record? ? :post : :put %>
<%= form_for(@account, :as => :account, :url => url, :html => { :method => method }) do |f| %>
  <% if @account.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>
    <ul>
    <% @account.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <div class="field">
    <%= f.label :user_id %>:     <%= f.select :user_id, User.all.map { |u| [u.email, u.id] } %>
  </div>
  
  <div class="field">
    <%= f.label :name %>:    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :from %>:     <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :subject %>:     <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :host %>:     <%= f.text_field :host %>
  </div>

  <div class="field">
    <%= f.label :has_attachments %>:     <%= f.check_box :has_attachments %>
  </div>
  
  <div class="field">
    <%= f.label :has_scheduling %>:     <%= f.check_box :has_scheduling %>
  </div>

  <div class="field">
    <%= f.label :template_html %>:     <%= f.text_area :template_html, :cols => 80, :rows => 40 %>
  </div>
  
  <div class="field">
    <%= f.label :template_text %>:     <%= f.text_area :template_text, :cols => 80, :rows => 30 %>
  </div>  

  <div class="field">
    <%= f.label :test_recipient_emails %>:     <%= f.text_area :test_recipient_emails %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
