<div id="accounts" class="index">
  <div  style="float:left">
    <h2>Accounts</h2>
  </div>
  <div  style="float:right">
    <%= link_to 'New Account', new_admin_account_path %>
  </div>
  
  <table class="content">
    <tr>
      <th>Name</th>
      <th>From</th>
      <th>Host</th>
      <th>User</th>
      <th></th>
    </tr>
  
  <% @accounts.each do |account| %>
    <tr class="<%= cycle('bgdark', 'bglight') %>">
      <td><%= account.name %></td>
      <td><%= account.from %></td>
      <td><%= account.host %></td>
      <td><%= account.user.email %></td>
      <td><%= link_to 'Show', admin_account_path(account) %> &bull;
          <%= link_to 'Edit', edit_admin_account_path(account) %> &bull;
          <%= link_to 'Destroy', admin_account_path(account), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</div>