<%= form_for [@newsletter.account, @newsletter]  do |f| %>
  <table border="0" id="formular" width="700">
    <thead>    
      <tr><td colspan="2" align="center"><h2><%= t 'newsletters.form.title' %></h2> - ID: <%= @newsletter.id %><br>
        <em><%= t 'newsletters.form.current_time' %>: <%= l Time.now, :format => :nl %></em>
      </td></tr>
    </thead>
    <tbody>

      <% if @newsletter.errors.any? %>
        <div id="errorExplanation"
          <h2><%= pluralize(@newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>
          <ul>
          <% @newsletter.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <tr><th><%= Newsletter.human_attribute_name(:from) %>:</th><td><%= @newsletter.from  %></td></tr>
      <tr><th><%= Newsletter.human_attribute_name(:deliver_at) %>:</th>
          <td><%= f.datetime_select :deliver_at, 
        :order => [:day, :month, :year],
        :start_year => Date.current.year, :end_year => Date.current.year + 3 %>
          </td>
      </tr>
      <tr><th><%= Newsletter.human_attribute_name(:subject) %>:</th><td><%= f.text_field :subject, :size => 60 %></td></tr>
      <tr>
        <th><%= Newsletter.human_attribute_name(:attachments) %>:</th>
        <td>
         <ul>  
           <% Array(@newsletter.attachments).each do |attachment| %>
            <li>attachment</li>
           <% end %>
         </ul>
        <%= t('newsletters.form.add_attachment') %>:<br>
        <%= f.file_field :attachment %></td>
      </tr>
    
      <tr><td colspan="2" align="center">
        <%= link_to  t('ctrl.back'), account_newsletters_path(@account) %>
        <%= f.submit t('ctrl.preview'), :name => :preview %>
       </td></tr>
    </tbody>
  </table>
  <br>
  <table border="0" id="formular" width="700">
      <%# TODO: auto expand, HTML editor???  %>
      <tr><td align="center"><%= f.text_area :content, :cols => 80, :rows => 40 %></td></tr>
      <tr><td colspan="2" align="center">
        <%= f.submit t('ctrl.preview'), :name => :preview %>
       </td></tr>        
  </table>  
<% end %> 
<br>
<br>   