<tr id="status_<%= newsletter.id %>">
  <td>
    <% if newsletter.created? %>
      <%= link_to t('newsletters.ctrl.send_test'), start_account_newsletter_path(*newsletter.route) %>
    <% elsif newsletter.scheduled? %>
      <%= image_tag( 'spinner.gif', :id => "spinner#{newsletter.id}" )  %>
    <% else %>
      <div style="width:100px; border: 1px solid #000; overflow: hidden;margin:0 auto;padding:0;">
       <div style='background-color: <%= ( newsletter.errors_count && newsletter.errors_count > 0 ) ? 'red' : 'green' %>; width: <%= newsletter.progress_percent %>px; color: white;' align='center'>
         <%= newsletter.progress_percent %>%
       </div>
      </div>
      <%= l Time.at(newsletter.sending_time), :format => :time %> - <%= "%.1f" % newsletter.deliveries_per_second %>/sec.
    <% end %>
  </td>
  <td><%= newsletter.status %> <%= newsletter.type %></td>
  <td align="left"> <%# style="background-color:<%= newsletter.color % >"  %>
    <strong><%= l newsletter.deliver_at, :format => :nl %></strong>:
    <%= link_to truncate(newsletter.subject, :length => 40), account_newsletter_path(*newsletter.route) %></td>
  </td>
  <td><%= newsletter.recipients_count %></td>
  <td>
  <% if newsletter.running? || newsletter.scheduled? %>
    <%= link_to( t('newsletters.ctrl.pause'), stop_account_newsletter_path(*newsletter.route), :confirm => t('newsletters.confirm.pause')) %>
    <%= delayed_remote_function( :url => account_newsletter_path(*newsletter.route), :method => :get, :delay => 3000, :replace => "#status_#{newsletter.id}" ) %>
  <% else %> <!-- Default Menu -->
     <%= link_to  t('ctrl.preview'), newsletter.route %> &bull;
     <%= link_to  t('ctrl.edit'), edit_account_newsletter_path(*newsletter.route) %> &bull;
     <%#= link_to 'Delete', newsletter.route, :method => 'delete', :confirm => "Really delete newsletter?" %>
     <%= link_to( t('newsletters.ctrl.send_test'), start_account_newsletter_path(*newsletter.route)) unless newsletter.finished_live? %>
     <%= link_to( t('newsletters.ctrl.send_live'), start_account_newsletter_path(*newsletter.route, :mode => 'live'), :confirm => t('newsletters.confirm.start') ) if newsletter.finished_test? %>
     <%= link_to( t('newsletters.ctrl.resume'), start_account_newsletter_path(*newsletter.route, :mode => (newsletter.live? ? 'live' : nil) ), :confirm => t('newsletters.confirm.resume') ) if newsletter.stopped? %>
  <% end %>
  </td>
</tr>