#newsletters.index
  %h2= t('newsletters.title')

  %ul.tabs
    %li
      - klass = (@account.nil?) ? 'current' : nil
      = link_to("All", newsletters_path, :class => klass)
    - @accounts.each do |account|
      %li
        - klass = (@account == account) ? 'current' : nil
        = link_to(account.name, account_newsletters_path(account), :class => klass)
    %li
      -# link_to( t('newsletters.new'), new_account_newsletter_path(@account))

  %table.content.zebra
    %thead
      %tr
        %th
        %th= Newsletter.human_attribute_name(:progress)
        %th= Newsletter.human_attribute_name(:recipients_count)
        %th= t('newsletters.action')
        %th= t('newsletters.menu')

    %tbody
      =  render @newsletters

