#newsletters.index
  %table.header{:cellpadding => "0", :cellspacing => "0"}
    %tr
      %td
        %h2= "#{@account.name + ' - ' if @account}#{t('newsletters.title')}"

      %td
        - if @user.accounts.count > 1
          = form_tag(newsletters_path, :id => 'account_list') do
            - opts = options_from_collection_for_select(@accounts, :id, :name, @account.try(:id))
            %label= t('newsletters.account')
            = select_tag 'account_id', opts, :include_blank => true, :onChange => "this.form.submit()"

      %td{:align => "right"}
        - if @account
          = link_to( t( 'newsletters.new', :account_name => @account.name), new_account_newsletter_path(@account))

  %table.content.zebra
    %thead
      %tr
        %th
        %th= Newsletter.human_attribute_name(:progress)
        %th= Newsletter.human_attribute_name(:recipients_count)
        %th= t('newsletters.action')
        %th= t('newsletters.menu')

    %tbody
      =  render @newsletters

  :javascript
    var newsletterPath = '#{newsletters_path}',
    scheduled = false,
    request = function() {
      var ids = $.map($('.newsletter'), function(elem) {
        return elem.id.replace('newsletter_', '');
      });
      jQuery.ajax({
        url: newsletterPath,
        data: { ids: ids },
        dataType: 'script'
      });
      scheduled = false;
    },
    schedule = function() {
      if(!scheduled) {
        $('.newsletter:first').each(function(){
          scheduled = true;
          window.setTimeout(request, 2000);
        })
      }
    },
    update = function(id, state, progressPercent) {
      $('#newsletter_' + id)
      .attr('class', 'newsletter ' + state)
      .filter('.sending,.testing,.stopping').each( function(){
        $(this).find('.progress')
          .width(progressPercent)
          .show()
          .find('label')
          .text(progressPercent)
          .end();
          schedule();
      });
    };

    $(document).ready(function () {
      schedule();
    });

