#newsletters.index
  %h2= t('newsletters.title')

  %ul.tabs
    %li
      - klass = @account ? nil : 'current'
      = link_to "All", newsletters_path, :class => klass
    - @accounts.each do |account|
      %li
        - klass = (@account == account) ? 'current' : nil
        = link_to account.name, account_newsletters_path(account), :class => klass, :"data-new-url" => new_account_newsletter_path(account)

  - if @account
    = link_to t('newsletters.new'), new_account_newsletter_path(@account), :class => "new"
  - else
    = link_to t('newsletters.new'), "#{}", :class => "new", :style => "display: none;"

  %table.content.zebra
    %thead
      %tr
        %th{width:44}
        %th{}= Newsletter.human_attribute_name(:progress)
        %th{width:120}= Newsletter.human_attribute_name(:recipients_count)
        %th{width:120}= t('newsletters.action')
        %th{width:120}= t('newsletters.menu')

    %tbody
      =  render @newsletters

    %tfoot
      %tr
        %td{colspan:5}
          = t('newsletters.nothing')
