#newsletters.form
  = form_for [@newsletter.account, @newsletter]  do |form|
    %table.content{:style => "width: 700px"}
      %thead
        %tr
          %th{:align => 'center'}
            %h2= t 'newsletters.form.title'

      %tbody
        %tr
          %td.form{:align => 'center'}
            %table{:colpadding => 0, :collspacing => 0, :width => 600}
              = render 'form', :form => form

        %tr
          %td.text{:align => 'center'}
            = form.text_area :content, :class => "cleditor", :required => "required"

        %tr
          %td{:align => 'center'}
            = form.submit t('ctrl.save'), :name => :preview

