<div id="newsletter">
  <table border="0" id="formular" width="700">
    <thead>
      <tr><td colspan="2" align="center"><h2><%= t 'newsletters.form.title' %></h2> - ID: <%= @newsletter.id %><br>
        <%= t 'newsletters.form.current_time' %>: <%= l Time.now, :format => :nl %>
      </td></tr>
    </thead>
    <tbody>
      <tr><th><%= Newsletter.human_attribute_name(:from) %>:</th><td><%=  @newsletter.from  %></td></tr>
      <tr><th><%= Newsletter.human_attribute_name(:deliver_at) %>:</th><td><%= l @newsletter.updated_at, :format => :nl %></td></tr>
      <tr><th><%= Newsletter.human_attribute_name(:subject) %>:</th><td><%= @newsletter.subject %></td></tr>
      <% if @account.has_attachments %>
        <tr>
          <th valign="top"><%= Newsletter.human_attribute_name(:attachments) %>:</th>
          <td>
            <div id="filelist">
                <%= render @newsletter.attachments, :no_checkbox => true %>
            </div>
          </td>
        </tr>
      <% end %>
      <tr><th><%= Newsletter.human_attribute_name(:status) %>:</th><td><%#= @newsletter.status %> <%#= @newsletter.type %></td></tr>
      <tr><td colspan="2" align="center">
          <%= link_to t('ctrl.edit'), edit_account_newsletter_path(*@newsletter.route) %> &bull;
          <%= link_to t('ctrl.delete'), @newsletter.route, :method => 'delete', :confirm => t('ctrl.confirm') %> &bull;
          <%= link_to( t('newsletters.ctrl.send_test'), start_account_newsletter_path(*@newsletter.route)) %>
       </td></tr>
    </tbody>
  </table>
  <br>
  <table border="0" id="formular" width="700">
      <%# TODO: auto expand, HTML editor???  %>
      <tr><td align="center">
      <iframe src="<%= preview_account_newsletter_path(*@newsletter.route, :example_user => params[:example_user] ) %>" width="680" height="600"></iframe>
      </td></tr>
      <tr><td colspan="2" align="center">
        <%= link_to t('ctrl.back'), newsletters_path %> |
        <%= link_to t('ctrl.edit'), edit_account_newsletter_path(*@newsletter.route) %>
       </td></tr>
  </table>
</div>
