#newsletter
  %table.formular{border:0, width:700}
    %thead
      %tr
        %td{colspan:2, align:"center"}
          %h2= t 'newsletters.form.title'
          ID: #{@newsletter.id}
          %br
          #{t 'newsletters.form.current_time'} : #{l Time.now, format:'nl'}

    %tbody
      %tr
        %th
          = Newsletter.human_attribute_name(:from) + ':'
        %td= @newsletter.from
      %tr
        %th
          = Newsletter.human_attribute_name(:deliver_at) + ':'
        %td= l @newsletter.updated_at, format:'nl'
      %tr
        %th
          = Newsletter.human_attribute_name(:subject) + ':'
        %td
          = @newsletter.subject

      -if @account.has_attachments
        %tr
          %th{valign:"top"}
            = Newsletter.human_attribute_name(:attachments) + ':'

          %td#filelist
            = render @newsletter.attachments, :no_checkbox => true

      %tr
        %th
          = Newsletter.human_attribute_name(:status) + ':'
        %td
          =# @newsletter.status
          =# @newsletter.type
      %tr
        %td{colspan:"2", align:"center"}
          = link_to t('ctrl.edit'), edit_account_newsletter_path(*@newsletter.route)
          &bull;
          = link_to t('ctrl.delete'), @newsletter.route, :method => 'delete', :confirm => t('ctrl.confirm')
          &bull;
          = link_to( t('newsletters.ctrl.send_test'), start_account_newsletter_path(*@newsletter.route))
  %br
  %table#formular{border:0,width:700}
    %tr
      %td{align:"center"}
        %iframe{:src => preview_account_newsletter_path(*@newsletter.route, :example_user => params[:example_user]), :width => 680, :height => 600}

    %tr
      %td{align:"center"}
        = link_to t('ctrl.back'), newsletters_path
        |
        = link_to t('ctrl.edit'), edit_account_newsletter_path(*@newsletter.route)
