<div id="users" class="index">
  <div  style="float:left">
    <h2>Users</h2>
  </div>
  <div  style="float:right">
    <%= link_to 'New User', new_user_path %>
  </div>

  <table>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Admin</th>
      <th></th>
    </tr>
  
    <% @users.each do |user| %>
      <tr class="<%= cycle('bgdark', 'bglight') %>">
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= link_to 'Show', user %> &bull;
            <%= link_to 'Edit', edit_user_path(user) %> &bull;
            <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
</div>