%tr.recipient{id:"recipient_#{recipient.id}", class:"#{recipient.state}"}
  = form_for [@account, recipient], :remote => true do |f|
    %td.state= recipient.state

    %td.show.gender= recipient.gender
    %td.edit.gender= f.select :gender, ['', 'Herr', 'Frau']

    %td.show.first_name= recipient.first_name
    %td.edit.first_name= f.text_field :first_name

    %td.show.last_name= recipient.last_name
    %td.edit.last_name= f.text_field :last_name

    %td.show.email= recipient.email
    %td.edit.email= f.text_field :email

    %td.deliveries_count= recipient.deliveries_count
    %td.reads_count= recipient.bounces_count
    %td.bounces_count= recipient.bounces_count

    %td.show.menu
      %a.icon.edit{:href => '#', :onclick => "$(this).closest('tr').toggleClass('edit')"}
        %span= t('ctrl.edit')
      - url = account_recipient_path(@account, recipient)
      %a.icon.delete{:href => url, 'data-method' => 'delete', 'data-confirm' => t('recipients.confirm.delete'), 'data-remote' => 'true'}
        %span= t('ctrl.delete')
    %td.edit.menu
      %a.icon.save{:href => '#', :onclick => "$(this).closest('form').submit()"}
        %span= t('ctrl.save')
      %a.icon.cancel{:href => '#', :onclick => "$(this).closest('tr').toggleClass('edit')"}
        %span= t('ctrl.cancel')
