%tr.recipient{:id => "recipient_#{recipient.id}"}
  %td{:colspan => 7}
    = form_for [@account, recipient], :remote => true do |f|
      %table.show
        %tr.show{:style =>"background-color:transparent"}
          %td.gender= recipient.gender
          %td.first_name= recipient.first_name
          %td.last_name= recipient.last_name
          %td.email= recipient.email
          %td.deliveries_count= recipient.deliveries_count
          %td.bounces_count= recipient.bounces_count
          %td.menu
            %a.icon.edit{:href => '#', :onclick => "$(this).closest('table').attr('class', 'edit')"}
              %span= t('ctrl.edit')
            - url = account_recipient_path(@account, recipient)
            %a.icon.delete{:href => url, 'data-method' => 'delete', 'data-confirm' => t('recipients.confirm.delete'), 'data-remote' => 'true'}
              %span= t('ctrl.delete')
        %tr.edit
          %td.gender= f.select :gender, ['', 'Herr', 'Frau']
          %td.first_name= f.text_field :first_name
          %td.last_name= f.text_field :last_name
          %td.email= f.text_field :email
          %td -
          %td -
          %td.menu
            %a.icon.save{:href => '#', :onclick => "$(this).closest('form').submit()"}
              %span= t('ctrl.save')
            %a.icon.cancel{:href => '#', :onclick => "$(this).closest('table').attr('class', 'show')"}
              %span= t('ctrl.cancel')
