<div id="index">
  <div  style="float:left">
    <h2><%= "Recipients for #{@account.name}" %></h2>
  </div>
  <div  style="float:right">
    <%= link_to 'New Recipient', new_account_recipient_path(@account) %>
  </div>
  
  <table>
    <tr>
      <th>Email</th>
      <th>Gender</th>
      <th>First name</th>
      <th>Last name</th>
      <th></th>
    </tr>
  
    <% @recipients.each do |recipient| %>
      <tr class="<%= cycle('bgdark', 'bglight') %>">
        <td><%= recipient.email %></td>
        <td><%= recipient.gender %></td>
        <td><%= recipient.first_name %></td>
        <td><%= recipient.last_name %></td>
        <td>
         <%= link_to 'Show', [@account, recipient] %> &bull;
         <%= link_to 'Edit', edit_account_recipient_path(@account, recipient) %> &bull;
         <%= link_to 'Destroy', [@account, recipient], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
</div>