#recipients.index
  %h2= t 'recipients.title', :account_name =>  @account.name, :count => @recipients.total_count

  = form_tag account_recipients_path(@account), :method => :get, :class => 'center' do
    = text_field_tag :search, params[:search], :size => 40
    = submit_tag t('ctrl.search')

  .right
    %a.button{href:new_account_recipient_path(@account), rel:'#overlay'}
      %span= t('recipients.menu.import')
    %a.button{href:delete_account_recipients_path(@account), rel:'#overlay'}
      %span= t('recipients.menu.delete')
    %a.button{href:account_recipients_path(@account, :format => :xls), style:"width:120px"}
      %span= t('recipients.menu.export_xls')

  %table.content.zebra
    %thead
      %tr
        %th.gender
          %a{href:account_recipients_path(@account, :order => :state)}
            = Recipient.human_attribute_name(:state)
        %th.gender
          %a{href:account_recipients_path(@account, :order => :gender)}
            = Recipient.human_attribute_name(:gender)
        %th.first_name
          %a{href:account_recipients_path(@account, :order => :first_name)}
            = Recipient.human_attribute_name(:first_name)
        %th.last_name
          %a{href:account_recipients_path(@account, :order => :last_name)}
            = Recipient.human_attribute_name(:last_name)
        %th.email
          %a{href:account_recipients_path(@account, :order => :email)}
            = Recipient.human_attribute_name(:email)
        %th.deliveries_count
          %a{href:account_recipients_path(@account, :order => :deliveries_count)}
            = Recipient.human_attribute_name(:deliveries_count)
        %th.bounces_count
          %a{href:account_recipients_path(@account, :order => :reads_count)}
            = Recipient.human_attribute_name(:reads_count)
        %th.bounces_count
          %a{href:account_recipients_path(@account, :order => :bounces_count)}
            = Recipient.human_attribute_name(:bounces_count)
        %th.menu= t('newsletters.menu')

    = render :partial => 'recipients'
