#recipients.index
  %table{:width => "100%", :cellpadding => "0", :cellspacing => "0"}
    %tr
      %td
        %h2= t 'recipients.title', :account_name =>  @account.name
        (#{@recipients.offset+1} - #{@recipients.offset+@recipients.per_page} / #{@recipients.total_entries})

      %td{:align => "center"}
        = form_tag account_recipients_path(@account), :method => :get do
          = text_field_tag :search, params[:search], :size => 40
          = submit_tag t('ctrl.search')

      %td{:align => "right"}
        = link_to t('recipients.menu.import'), new_account_recipient_path(@account)
        &bull;
        = link_to t('recipients.menu.multiple_delete'), multiple_delete_account_recipients_path(@account)
        &bull;
        = link_to t('recipients.menu.export_xls'), account_recipients_path(@account, :format => :xls)

  %table.content{:cellpadding => "0"}
    %thead
      %tr
        %td
          %table
            %tr
              %th.gender= Recipient.human_attribute_name(:gender)
              %th.first_name= Recipient.human_attribute_name(:first_name)
              %th.last_name= Recipient.human_attribute_name(:last_name)
              %th.email= Recipient.human_attribute_name(:email)
              %th.menu= t('newsletters.menu')

      %tbody
        %tr.paginate
          %td{:align => "center"}= will_paginate @recipients

        = render @recipients

        %tr.paginate
          %td{:align => "center"}= will_paginate @recipients
