#recipients.index
  %h2= t 'recipients.title', :account_name =>  @account.name, :count => @recipients.total_count

  = form_tag account_recipients_path(@account), :method => :get, :remote => true, :class => 'search' do
    = text_field_tag :search, params[:search], :size => 40, :type => 'search', :placeholder => 'Suche'
    = submit_tag t('ctrl.search')

  .right
    %a.new.button{href:new_account_recipient_path(@account), rel:'#overlay'}
      %span= t('recipients.menu.import')
    %a.button{href:delete_account_recipients_path(@account), rel:'#overlay'}
      %span= t('recipients.menu.delete')
    %a.button{href:account_recipients_path(@account, :format => :xls), style:"width:120px"}
      %span= t('recipients.menu.export_xls')

  %table.content.zebra
    %thead
      %tr
        %th.state
          %a{:href => account_recipients_path(@account, :order => :state), 'data-remote' => true}
            = Recipient.human_attribute_name(:state)
        %th.gender
          %a{:href => account_recipients_path(@account, :order => :gender), 'data-remote' => true}
            = Recipient.human_attribute_name(:gender)
        %th.first_name
          %a{:href => account_recipients_path(@account, :order => :first_name), 'data-remote' => true}
            = Recipient.human_attribute_name(:first_name)
        %th.last_name
          %a{:href => account_recipients_path(@account, :order => :last_name), 'data-remote' => true}
            = Recipient.human_attribute_name(:last_name)
        %th.email
          %a{:href => account_recipients_path(@account, :order => :email), 'data-remote' => true}
            = Recipient.human_attribute_name(:email)
        %th.deliveries_count
          %a{:href => account_recipients_path(@account, :order => :deliveries_count), 'data-remote' => true}
            = Recipient.human_attribute_name(:deliveries_count)
        %th.bounces_count
          %a{:href => account_recipients_path(@account, :order => :reads_count), 'data-remote' => true}
            = Recipient.human_attribute_name(:reads_count)
        %th.bounces_count
          %a{:href => account_recipients_path(@account, :order => :bounces_count), 'data-remote' => true}
            = Recipient.human_attribute_name(:bounces_count)
        %th.menu= t('newsletters.menu')

    %tbody
      = render 'recipients'

    %tfoot
      %tr
        %td{colspan:9}
          = t('recipients.nothing')