<div id="index">
  <div  style="float:left">
    <h2><%= t 'recipients.title', :account_name =>  @account.name %></h2>
  </div>
  <div  style="float:right">
    <%= t('recipients.menu.title') %>:
    <%#= link_to t('ctrl.new'), new_account_recipient_path(@account) %>
    <%#= link_to t('recipients.menu.export'), export_account_recipients_path(@account) %>     
    <%= link_to t('recipients.menu.import'), import_account_recipients_path(@account) %> |
    <%= link_to t('recipients.menu.multiple_delete'), multiple_delete_account_recipients_path(@account) %>
  </div>
  
  <table>
    <tr>
      <th><%= Recipient.human_attribute_name(:email) %></th>
      <th><%= Recipient.human_attribute_name(:gender) %></th>
      <th><%= Recipient.human_attribute_name(:first_name) %></th>
      <th><%= Recipient.human_attribute_name(:last_name) %></th>
      <th></th>
    </tr>
  
    <% @recipients.each do |recipient| %>
      <tr class="<%= cycle('bgdark', 'bglight') %>">
        <td><%= recipient.email %></td>
        <td><%= recipient.gender %></td>
        <td><%= recipient.first_name %></td>
        <td><%= recipient.last_name %></td>
        <td>
         <%#= link_to t('ctrl.show'), [@account, recipient] %>
         <%= link_to t('ctrl.edit'), edit_account_recipient_path(@account, recipient) %> &bull;
         <%= link_to t('ctrl.delete'), [@account, recipient], :confirm => t('ctrl.confirm'), :method => :delete %></td>
      </tr>
    <% end %>
  </table>
</div>