#recipients.form
  = form_tag multiple_delete_account_recipients_path(@account), :method => :post do
    %table.content{:style => "width: 700px"}
      %thead
        %tr
          %th{:align => 'center'}
            %h2= t('.title')

      %tbody
        %tr
          - if @valid_recipients.any?
            %td{:valign => "top", :style =>"color:green"}
              %strong= t('.valid_recipients', :size => @valid_recipients.size) + ':'
              %ul
                - @valid_recipients.each do |recipient|
                  %li= recipient.email

          - if @invalid_recipients.any?
            %td{:valign => "top", :style => "color:red"}
              %strong= t('.invalid_recipients', :size => @invalid_recipients.size) + ':'
              %ul
                - @invalid_recipients.each do |recipient|
                  %li= recipient.email + " (#{recipient.errors.full_messages.join(', ')})"
        %tr
          %td= t('.explanation')

        %tr
          %td{:align => 'center'}
            = text_area_tag :emails, params[:emails], {:cols => 90, :rows => 35}

        %tr
          %td{:align => 'center'}
            = submit_tag t('.ctrl.valid_delete'), :name => :delete, :confirm => t('.ctrl.confirm_delete'), :class => "confirm"

            = submit_tag t('.ctrl.check'), :class => "check"
