#recipients.form
  = form_tag multiple_delete_account_recipients_path(@account), :method => :post do
    %table.content{:style => "width: 700px"}
      %thead
        %tr
          %th{:align => 'center'}
            %h2= t('.title')

      %tbody
        = render(:partial => 'result') if @valid_recipients.any? || @invalid_recipients.any?

        %tr
          %td= t('.explanation')

        %tr
          %td{:align => 'center'}
            = text_area_tag :emails, params[:emails], {:cols => 90, :rows => 35}

        %tr
          %td{:align => 'center'}
            = submit_tag t('.ctrl.valid_delete'), :name => :delete, :confirm => t('.ctrl.confirm_delete'), :class => "confirm"

            = submit_tag t('.ctrl.check'), :class => "check"



