#recipients.form
  = form_tag account_recipients_path(@account), :method => :post, :remote => true, :class => "new" do
    %table.content{:style => "width: 700px, height: 100%"}
      %thead
        %tr
          %th{:align => 'center'}
            %h2= t('.title')

      %tr
        %td
          %ul.result
            %li.valid
              %strong= t('.valid_recipients') + ':'
              %ul
                - Array(@valid_recipients).each do |recipient|
                  %li= recipient.email
            %li.invalid
              %strong= t('.invalid_recipients') + ':'
              %ul
                - Array(@invalid_recipients).each do |recipient|
                  %li= recipient.email + " (#{recipient.errors.full_messages.join(', ')})"
          .input
            = t('.explanation')

            = text_area_tag :emails, params[:emails], {:cols => 90, :rows => 25}

            = submit_tag t('.ctrl.valid_import')