#recipients.form
  = form_tag account_recipients_path(@account), :method => :post, :remote => true, :class => "new" do
    %table.content{:style => "width: 700px"}
      %thead
        %tr
          %th{:align => 'center'}
            %h2= t('.title')

      %tbody
        = render(:partial => 'result') if @valid_recipients.any? || @invalid_recipients.any?

        %tr
          %td= t('.explanation')

        %tr
          %td{:align => 'center'}
            = text_area_tag :emails, params[:emails], {:cols => 90, :rows => 35}

        %tr
          %td{:align => 'center'}
            = submit_tag t('.ctrl.valid_import')

  :javascript
     $('#recipients form.new').bind('ajax:success', function(){
       alert("Success!");
     });