<p class="notice"><%= notice %></p>

<p>
  <b><%= Recipient.human_attribute_name(:gender) %>:</b>
  <%= @recipient.gender %>
</p>

<p>
  <b><%= Recipient.human_attribute_name(:first_name) %>:</b>
  <%= @recipient.first_name %>
</p>

<p>
  <b><%= Recipient.human_attribute_name(:last_name) %>:</b>
  <%= @recipient.last_name %>
</p>

<p>
  <b><%= Recipient.human_attribute_name(:email) %>:</b>
  <%= @recipient.email %>
</p>

<%= link_to t('ctrl.back'), account_recipients_path(@account) %> |
<%= link_to t('ctrl.edit'), edit_account_recipient_path(@account, @recipient) %>
