<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
  <title><%= t 'application.title' %></title>

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.js", "jquery.rails.js" %>
  <%= csrf_meta_tag %>
  <base target="main">

  <script type="text/javascript" charset="utf-8">
    var selected_user_id = 0;

    function show_menu(user_id) {
        if(selected_user_id > 0) $('#user_menu_' + selected_user_id).hide();
        $('#user_menu_' + user_id).show();
        selected_user_id = user_id;
    }

    $(document).ready(function () {
      show_menu(<%= @user.id %>)
    });
  </script>
</head>
<body id="index">
  <table id="container" cellspacing="0" cellpadding="0">
    <tr style="height:20px">
      <td id="menu" rowspan="2" valign="top">
        <%= image_tag 'logo.jpg' %>

        <br><br>

        <% if current_user.admin? %>
          <strong><%= t('menu.user') %></strong>
          <% opts = options_from_collection_for_select(@users, :id, :username) %>
          <%= select_tag 'user_menu', opts, :onChange => "show_menu(this.options[this.selectedIndex].value)" %><br>
          <br>
        <% end %>

         <% @users.each do |user| %>
            <div id="user_menu_<%= user.id %>" class="menu_item" style="display:none">
              <strong><%= link_to t('menu.newsletters'), newsletters_path(:user_id => user) %></strong><br>
              <ul class="newletter">
                <% user.accounts.each do |account| %>
                  <li><%= link_to account.name, account_newsletters_path(account) %>
                    <ul>
                      <li><%= link_to t('menu.new'), new_account_newsletter_path(account) %></li>
                      <li><%= link_to t('menu.recipients'), account_recipients_path(account) %></li>
                    </ul>
                  </li>
                <% end %>
              </ul>

              <% if user.domains.any? %>
                <strong><%= link_to t('menu.domains'), newsletters_path(:user_id => user) %></strong><br>
                <ul class="domains">
                  <% user.domains.each do |domain| %>
                    <li><%= domain.name %>
                      <ul>
                        <li><%= link_to t('menu.ftp'), domain.email_url %></li>
                        <li><%= link_to t('menu.email'), domain.ftp_url %></li>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              <% end %>

            </div>
         <% end %>

      </td>
      <td id="top_menu">
        <% if current_user.admin? %>
          <div style="float:left;">
            <%= link_to image_tag("status/#{resque_status}.gif", :border => 0), top_menu_path %>
          </div>
        <% end %>
        <div style="float:right;">
          <% if current_user.admin? %>
            <%= link_to t('menu.users'),  admin_users_path %> |
            <%= link_to t('menu.accounts'),  admin_accounts_path %> |
          <% end %>

          <%= link_to image_tag('buttons/logout.gif', :style => "border:0; margin-top:0px"), destroy_user_session_path %>
        </div>

      </td>
    </tr>
    <tr><td bgcolor="#ddd" height="100%">
      <iframe id="main" src="<%= newsletters_path %>" height="100%" scrolling="yes">
        <p>Your browser does not support iframes.</p>
      </iframe>
    </td></tr>
  </table>
</body>
</html>