<!DOCTYPE html>
<html>
<head>
  <title>Nups</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.js", "jquery.rails.js" %>
  <%= csrf_meta_tag %>
  <base target="main">

  <script type="text/javascript" charset="utf-8">
    var selected_user_id = 0;
    
    function show_menu(user_id) {
        if(selected_user_id > 0) $('#user_menu_' + selected_user_id).hide();
        $('#user_menu_' + user_id).show();
        selected_user_id = user_id;
    }

    $(document).ready(function () {
      show_menu(<%= @user.id %>)
    });    
  </script>
</head>
<body bgcolor="#6699CC" id="menu">
  <%= image_tag 'logo.jpg' %>
  <br><br>

  <% if current_user.admin? %>
    <strong>Administration</strong>
    <ul> 
      <li><%= link_to 'Users',  users_path %></li>
      <li><%= link_to 'Accounts',  accounts_path %></li>
    </ul>
    <% opts = options_from_collection_for_select(@users, :id, :email) %>
    <%= select_tag 'menu', opts, :onChange => "show_menu(this.options[this.selectedIndex].value)" %><br>
    <br>
  <% end %>

   <% @users.each do |user| %>  
      <div id="user_menu_<%= user.id %>" style="display:none"><strong>Newsletters</strong> - 
        <%= link_to 'see all', newsletters_path(:user_id => user) %><br>
        <ul>
          <% user.accounts.each do |account| %>
            <li><%= link_to account.name, account_newsletters_path(account) %>
              <ul>
                <li><%= link_to "new", new_account_newsletter_path(account) %></li>
                <li><%= link_to "Recipients", account_recipients_path(account) %></li>            
              </ul>
            </li>
          <% end %>
        </ul>
      </div> 
   <% end %>
    
  <br><br>

</body>
</html>
