<!DOCTYPE html>
<html>
<head>
  <title>Nups</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.js", "jquery.rails.js" %>
  <%= csrf_meta_tag %>
</head>
<body id="content">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
