!!!
%html
  %head
    %title= t('application.title')
    = stylesheet_link_tag 'application'
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body#application
    #main
      = yield

    #overlay.apple
      .content
      .footer
