!!!
%html
  %head
    %title= t('application.title')

    = stylesheet_link_tag 'frame'
    = javascript_include_tag 'frame'
    = csrf_meta_tag

    %base{:target => "application"}

    :javascript
      $(document).ready(function() {
        showMenu(#{@user.id});
        console.log('#frame loaded');
      });

  %body{:class => current_user.admin? ? 'admin' : 'user'}
    %table{:cellspacing => "0", :cellpadding => "0"}
      %tr#top
        %td#menu{:rowspan => 2, :valign => "top"}
          = image_tag 'logo.jpg', :id => 'logo'

          #admin.hidden
            = link_to t('menu.accounts'),  admin_accounts_path
            &bull;
            = link_to t('menu.users'),  admin_users_path
            - opts = options_from_collection_for_select(@users, :id, :username)
            %br
            %label= t('menu.user')
            = select_tag 'user_menu', opts, :onChange => "showMenu(this.options[this.selectedIndex].value)"

          - @users.each do |user|
            .item.hidden{:id => "user-menu-#{user.id}"}
              - user.domains.each do |domain|
                %strong= link_to t('menu.domains'), domain.main_url
                %br
                %br
                -# %strong= link_to t('menu.ftp'), domain.ftp_url

              %strong= link_to t('menu.newsletters'), newsletters_path(:user_id => user)
              %ul
                - user.accounts.each do |account|
                  %li
                    = link_to account.name, account_newsletters_path(account)
                    %ul
                      %li= link_to t('menu.new'), new_account_newsletter_path(account)
                      %li= link_to t('menu.recipients'), account_recipients_path(account)

        %td
          - with_options :target => "_self" do |target|
            = target.link_to image_tag("status/#{resque_status}.gif", :border => 0), root_path, :id => 'status'
            = link_to "Resque", "/resque", :id => 'resque', :target => "_blank"
            = link_to "New Relic", "https://rpm.newrelic.com/accounts/67031/applications/434489", :id => 'new-relic', :target => "_blank"
            = link_to "Airbrake", "http://nups.airbrakeapp.com/projects/54041/errors", :id => 'airbrake', :target => "_blank"
            = link_to "Travis", "http://travis-ci.org/#!/rngtng/nups", :id => 'travis', :target => "_blank"

            = target.link_to image_tag('buttons/logout.gif'), destroy_user_session_path, :id => 'logout'

      %tr
        %td{:bgcolor => "#ddd", :height => "100%"}
          = yield
