!!!
%html
  %head
    %title
    = stylesheet_link_tag "public"
    = javascript_include_tag "public"
    = csrf_meta_tag

    = render :partial => "layouts/tracking"

  %body.public
    .notice= notice
    .alert= alert

    = yield